Module 12 – Ops Jaanu – Alert Router (SLACK AND EMAIL) (Freeze).json
{
  "name": "Module 12 – Ops Jaanu – Alert Router (SLACK AND EMAIL) (Freeze)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -864,
        -48
      ],
      "id": "f7f42bff-3839-4a40-8411-bee6fc253135",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20a59ce7-6e05-485e-8a74-e4b94b951288",
              "name": "agent_name",
              "value": "\"OpsTestAgent\"",
              "type": "string"
            },
            {
              "id": "b920a4d8-277a-464e-9330-42a813e3cda0",
              "name": "decision_type",
              "value": "\"auto_approval\"",
              "type": "string"
            },
            {
              "id": "c0cbf147-c479-477d-8cc6-1f12701218e3",
              "name": "decision_reason",
              "value": "\"Confidence score above threshold\"",
              "type": "string"
            },
            {
              "id": "aff570ad-6576-433e-87bc-3ee17e283a42",
              "name": "severity",
              "value": "\"high\"",
              "type": "string"
            },
            {
              "id": "2ffb1c03-f48c-4f8a-91fb-2603a2d3a15b",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        -48
      ],
      "id": "4575d6bf-291f-46d2-8107-09979d170541",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b345d35-446a-407a-bf6e-a77669b8e799",
              "name": "alert_channel",
              "value": "email",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        -48
      ],
      "id": "80821d5d-6ff3-4db5-927b-96646ea2f19f",
      "name": "Determine Alert Channel"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7ffa4867-9b58-406e-9b79-6c246c042632",
              "leftValue": "={{ $json.alert_channel }}",
              "rightValue": "email",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        -48
      ],
      "id": "c87c3873-7ef7-4fb7-9662-00e4b5ff9e22",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "surajtheking03@gmail.com",
        "subject": "=🚨 Ops Alert via Router: {{ $json.severity | upper }} severity",
        "message": "=<h3>🚨 Ops Jaanu Alert</h3>\n\n<p><b>Agent:</b> {{ $json.agent_name }}</p>\n<p><b>Decision Type:</b> {{ $json.decision_type }}</p>\n<p><b>Severity:</b> {{ $json.severity }}</p>\n<p><b>Reason:</b> {{ $json.decision_reason }}</p>\n<p><b>Alert Channel:</b> {{ $json.alert_channel }}</p>\n<p><b>Timestamp:</b> {{ $json.timestamp }}</p>\n\n<hr />\n<p>This alert was routed via Ops Jaanu Alert Router.</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -16,
        -176
      ],
      "id": "e34bbf34-48f3-40a3-8f37-6fd22895819c",
      "name": "Send a message",
      "webhookId": "2e5fe465-668d-4c01-8d7e-2c4d598e7d51",
      "credentials": {
        "gmailOAuth2": {
          "id": "Enter your account ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#all-jaanu-ops",
          "mode": "name"
        },
        "text": "=🚨 Ops Jaanu Alert  Agent: {{$json.agent_name}} Decision: {{$json.decision_type}} Severity: {{$json.severity}} Reason: {{$json.decision_reason}} Timestamp: {{$json.timestamp}}  Routed via Ops Jaanu Alert Router.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -16,
        96
      ],
      "id": "64fb938f-bcc7-4866-a909-7bf23afc3958",
      "name": "Send a message1",
      "webhookId": "468686dd-9f0b-4d98-96e5-189fc59eba7d",
      "credentials": {
        "slackApi": {
          "id": "enter your account ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "Integration of gmail and slack node in n8n."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        -80
      ],
      "id": "8fc79acd-adfe-41b8-b95a-3c59e33cedc3",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Determine Alert Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Alert Channel": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "188d77e9-c534-42de-8917-f6e4ae51f47d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3294931b033528f6418ce49618c0c9631f972baaa3ff1615e91b9e03c6efd9ff"
  },
  "id": "LhQxUX9meHhykOAH",
  "tags": []
}